.cardContainer {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  padding: 2.5em;
}
  

.cardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cardHeaderInfo {
  display: flex;
  align-items: center;
}

.cardProfileImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}
  
  .cardUsername {
    font-size: 15px;
    font-weight: 500;
    margin: 0 10px;
  }
  
  .cardDate{
      font-size: 12px;
  }
  
  .cardCenter{
      margin: 20px 0;
  }
  
  .cardImg{
      margin-top: 20px;
      width: 100%;
      max-height: 500px;
      object-fit: contain;
  }
  
  .cardBottom{
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  
  .cardBottomLeft{
      display: flex;
      align-items: center;   
  }
  
  .likeIcon{
      width: 24px;
      height: 24px;
      margin-right: 5px;
      cursor: pointer;
  }
  
  .cardLikeCounter{
      font-size: 15px;
  }
  
  .cardCommentText{
      cursor: pointer;
      border-bottom: 1px dashed gray;
      font-size: 15px;
  }