.navbarContainer {
  height: 3em;
  width: 100%;
  background-color: #d1c9af;
  display: flex;
  align-items: center;
  position: sticky;
  top:0;
  border-bottom: 1px solid black;
  z-index: 99999;
}

.navbarLogo {
  flex: 1.5;
  cursor: pointer;
  font-size: 2em;
  text-align: center;
  padding: 0 .25em;
}

.navbarSearch {
  flex: 3;
  padding: 0 .25em;
  display: flex;
  align-items: center;
}

.searchInput{
  width: 90%;
  background-color:rgb(235, 243, 239);
  height: 2.5em;
  border:none;
  border-radius: 30px 0 0 30px;
  border: 1px  solid black;
  border-right: 0px;

}

.searchIcon{
  font-size: 1.5em !important;
  background-color:rgb(235, 243, 239);
  padding: .15em;
  border-radius: 0 30px 30px 0;
  border: 1px  solid black;
  border-left: 0px;
}

.navbarPages {
  flex: 2;
}
.navbarIcons {
  flex:1;
  padding: 0 .25em;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.navbarButtons{
  flex:1;
  padding: 0 .25em;
  cursor: pointer;
}

.iconBadge {
  width: .8em;
  height: .8em;
  background-color: red;
  border-radius: 50%;
  color: white;
  position: absolute;
  margin-left: 1.1em;
  top: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerContainer {
  height: 5em;
  background-color: #d1c9af;
  
  width: 100%;;
  border-top: 1px solid #000000;
  position: relative;
  margin-top: 10em;
}
